@media screen and (min-width:1100px) { /* For desktop */
	#div_whatsNew {
		width:280px;
		float:right;
	}
}
@media screen and (max-width:1099px) { /* For mobile */
	#div_whatsNew {
		width:100%;
		float:none;
	}
}
	#div_whatsNewTitle {
		border:1px solid;
		margin:0px;
		background-color:#a0a0a0;
	}
	#div_whatsNewContent {
		margin:0px;
		padding:3px;
		height:200px;
		background-color:#b6b6b6;
		border:1px solid;
	}
		#marquee_whatsNew {
			height:100%;
		}
