#div_shoppingCartItemsArea {
	width:100%;
}
	#table_shoppingCartItems {
		width:100%;
		background-color:#e6f5aa;
		border:1px solid;
	}
		.form_deleteItemFromShoppingCart {
			
		}
	#form_deleteAllItemsFromShoppingCart {
		text-align:left;
	}
#div_orderArea {
	
}
	#form_order {
		
	}
		.tableData_orderInput {
			width:60%;
		}
		#button_order {
			width:100%;
		}
